In [24]:
import pandas as pd
pd.set_option('display.max_rows', 50)

In [2]:
df = pd.read_csv(r'D:\18-DS\data\Datasets-Large\Media\VisitorLogsData.csv')

In [ ]:
# Index(['webClientID', 'VisitDateTime', 'ProductID', 'UserID', 'Activity','Browser', 'OS', 'City', 'Country'],

In [ ]:
#len(df.ProductID.unique()) = 17460
#len(df.UserID.unique())  = 34051
#len(df.Activity.unique()) =5
#len(df.Browser.unique()) =82
#len(df.OS.unique())  = 30
#len(df.City.unique()) =26261
#len(df.Country.unique()) =18915

In [3]:
def myfunc(x):
    try:
        if len(x.split('-'))>1:
          #normal date
          return x
        else:
          #unix date
          return "xx" #pd.to_datetime(x,unit='ps')
    except:
        return "Nul" #pd.to_datetime(x,unit='ps')


df['newVisitDateTime'] = df['VisitDateTime'].apply( lambda x: myfunc(x) )

In [4]:
nulldateIdx = df[ df['newVisitDateTime']=='Nul' ].index
nulldateIdx

Int64Index([     25,      43,      86,     104,     128,     144,     151,
                160,     162,     164,
            ...
            6587918, 6587919, 6587935, 6587949, 6587956, 6587960, 6587964,
            6587969, 6587994, 6587997],
           dtype='int64', length=658915)

In [ ]:
#Drop Null date rows
#df.drop(nulldateIdx, axis=0, inplace=True)

In [5]:
unixdate = df[ df['newVisitDateTime']=='xx' ]

In [6]:
unixdate.VisitDateTime.str[::-1].str[:6].astype('int').sum()
#Those column having unix date last 6 digits are 0

0

In [7]:
unixdate.VisitDateTime

13         1527051855673000000
14         1526366895249000000
17         1526982800506000000
21         1527058921790000000
28         1527006131946000000
                  ...
6587923    1526673488348000000
6587927    1526107821499000000
6587961    1525855937939000000
6587963    1527163251803000000
6587988    1526139196864000000
Name: VisitDateTime, Length: 593191, dtype: object

In [8]:
unixdate.VisitDateTime.str[:-6:]

13         1527051855673
14         1526366895249
17         1526982800506
21         1527058921790
28         1527006131946
               ...
6587923    1526673488348
6587927    1526107821499
6587961    1525855937939
6587963    1527163251803
6587988    1526139196864
Name: VisitDateTime, Length: 593191, dtype: object

In [9]:
unixdate['newVisitDateTime'] = pd.to_datetime(unixdate.VisitDateTime.str[:-6:], unit="ms")

<ipython-input-9-4bf738a092d3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unixdate['newVisitDateTime'] = pd.to_datetime(unixdate.VisitDateTime.str[:-6:], unit="ms")

In [10]:
unixdate_idx =unixdate['newVisitDateTime'].index

In [11]:
df['newVisitDateTime'].iloc[unixdate_idx] = list(unixdate['newVisitDateTime'])

In [27]:
df[['VisitDateTime','newVisitDateTime']][200:]

                   VisitDateTime            newVisitDateTime
200      2018-05-09 23:52:13.554     2018-05-09 23:52:13.554
201      2018-05-26 05:14:00.999     2018-05-26 05:14:00.999
202      2018-05-10 16:10:56.835     2018-05-10 16:10:56.835
203          1526730752659000000  2018-05-19 11:52:32.659000
204      2018-05-19 06:53:13.003     2018-05-19 06:53:13.003
...                          ...                         ...
6587995  2018-05-21 07:14:03.231     2018-05-21 07:14:03.231
6587996  2018-05-25 09:13:04.011     2018-05-25 09:13:04.011
6587997                      NaN                         Nul
6587998  2018-05-20 12:09:35.347     2018-05-20 12:09:35.347
6587999  2018-05-17 03:30:22.330     2018-05-17 03:30:22.330

[6587800 rows x 2 columns]

In [14]:
df[['VisitDateTime','newVisitDateTime']].to_csv("dates.csv")