# Create & Switch to A Virtual Environment

In [ ]:
#from anaconda prompt execute these commands
#To create a new virtual env
conda create --name mongodb python 

#to make sure all the VENV can be see from jupyter notebook
conda install nb_conda

#Install ipykernel in mongodb virutal env. So that our virtual enviroment mongodb can be see in kernel list
conda install -n mongodb ipykernel

#Switch to new virutal environment
Start Jupyter notebook
Click on kernel to switch the kernel.
Select mongodb (as created above)

# Check Which Virtual Environment is in use

### Check VENV

In [131]:
import sys

#Check Rirtual Environment
sys.executable

'D:\\Users\\admin\\anaconda3\\envs\\mongodb\\python.exe'

In [132]:
#Check Virtual Enviroment
sys.path

['D:\\github\\mongodb',
 'D:\\Users\\admin\\anaconda3\\envs\\mongodb\\python39.zip',
 'D:\\Users\\admin\\anaconda3\\envs\\mongodb\\DLLs',
 'D:\\Users\\admin\\anaconda3\\envs\\mongodb\\lib',
 'D:\\Users\\admin\\anaconda3\\envs\\mongodb',
 '',
 'D:\\Users\\admin\\anaconda3\\envs\\mongodb\\lib\\site-packages',
 'D:\\Users\\admin\\anaconda3\\envs\\mongodb\\lib\\site-packages\\win32',
 'D:\\Users\\admin\\anaconda3\\envs\\mongodb\\lib\\site-packages\\win32\\lib',
 'D:\\Users\\admin\\anaconda3\\envs\\mongodb\\lib\\site-packages\\Pythonwin',
 'D:\\Users\\admin\\anaconda3\\envs\\mongodb\\lib\\site-packages\\IPython\\extensions',
 'C:\\Users\\admin\\.ipython']

# Steps to Setup MongoDB on Local Machine

## Download
download mongoDB
https://www.mongodb.com/try/download/community
    
## Installation
Install MongoDB

Keep following setting while installation
Run as Network service
Serivce Name: MongoDB

# Start MongoDB Service on Local Machine

## Start Service & Go to MongoDB shell
From Command Prompt Start Service
D:\Program Files\MongoDB\Server\4.4\bin\mongo.exe
You will see this URL. Service is launched at local host port: 27017
mongodb://127.0.0.1:27017/?compressors=disabled&gssapiServiceName=mongodb

# Connect to MongoDB Compass

## Connect MongoDB to MongoDB Compass
Launch "MongoDB Compass" application from windows->start
Click connect -> connect to
Click "Fill in connection fields individually"
Create a connection. Enter above details i.e. hostname: 127.0.0.1, port 27017

# CRUD Operation in MongoDB Using MongoDB Shell

## Insert data in MongoDB
Goto Command MongoDB Prompt and use following command
use emp

try {
   db.emp_db.insertOne( { firstname: "Hari", lastname: "Thapliyal" } );
} catch (e) {
   print (e);
};


try {
   db.emp_db.insertMany( [{ firstname: "Rajendra", lastname: "Prasad", Score:85 },
   { firstname: "Sachin", lastname: "Singh", Score:78 },
   { firstname: "Upendra", lastname: "Prasad", Score:92 },
   { firstname: "Uma", lastname: "Parvati", Score:73 }]

   );
} catch (e) {
   print (e);
};


## Check database is created and it has data we added above
Go MongoDB Compass
Refress Database
emp collection/table is created

db.emp_db.find({})

show dbs

# CRUD operation in MongoDB from Python Application

In [1]:
!pip install pymongo

Requirement already satisfied: pymongo in d:\users\admin\anaconda3\envs\mongodb\lib\site-packages (3.11.3)

In [133]:
import pymongo

In [134]:
client = pymongo.MongoClient(r"mongodb://127.0.0.1:27017/")

In [49]:
mydb = client['employee']
empinfo = mydb.employeeinfo

In [78]:
record = { "firstname": "Hari", "lastname": "Thapliyal" }
empinfo.insert_one(record)

In [55]:
records = [{ 'firstname': "Rajendra", 'lastname': "Prasad", "Score":85 },
           { 'firstname': "Sachin", 'lastname': "Singh", "Score":78 },
           { 'firstname': "Upendra", 'lastname': "Prasad", "Score":92 },
           { 'firstname': "Uma", 'lastname': "Parvati", "Score":73 }]

In [56]:
empinfo.insert_many(records)

In [57]:
empinfo.find_one()

{'_id': ObjectId('6074795a31d2c1b05c99f970'),
 'firstname': 'Rajendra',
 'lastname': 'Prasad',
 'Education': 'MBA',
 'Score': 85,
 'SubjectScore': {'Physics': 70, 'Chemistry': 68, 'Maths': 72}}

# Multiple Insert

In [51]:
records = [{ "firstname": "Rajendra", "lastname": "Prasad", 'Education':"MBA", "Score":85, 
                                      'SubjectScore':{'Physics':70, 'Chemistry':68, 'Maths':72} },
           
   { "firstname": "Sachin", "lastname": "Singh", 'Education':"Phd", "Score":78, 
                                      'SubjectScore':{'Physics':79, 'Chemistry':77, 'Maths':68} },
           
   { "firstname": "Upendra", "lastname": "Prasad", 'Education':"MCA", "Score":92, 
                                      'SubjectScore':{'Physics':65, 'Chemistry':67, 'Maths':65} },
           
   { "firstname": "Uma", "lastname": "Parvati", 'Education':'Phd', "Score":73, 
                                      'SubjectScore':{'Physics':80, 'Chemistry':75, 'Maths':85} }]

In [52]:
empinfo.insert_many(records)

# Find

In [53]:
empinfo.find_one()

{'_id': ObjectId('6074795a31d2c1b05c99f970'),
 'firstname': 'Rajendra',
 'lastname': 'Prasad',
 'Education': 'MBA',
 'Score': 85,
 'SubjectScore': {'Physics': 70, 'Chemistry': 68, 'Maths': 72}}

In [79]:
ds = empinfo.find()
for i in ds:
    print (i)

{'_id': ObjectId('6074795a31d2c1b05c99f970'), 'firstname': 'Rajendra', 'lastname': 'Prasad', 'Education': 'MBA', 'Score': 85, 'SubjectScore': {'Physics': 70, 'Chemistry': 68, 'Maths': 72}}
{'_id': ObjectId('6074795a31d2c1b05c99f971'), 'firstname': 'Sachin', 'lastname': 'Singh', 'Education': 'Phd', 'Score': 78, 'SubjectScore': {'Physics': 79, 'Chemistry': 77, 'Maths': 68}}
{'_id': ObjectId('6074795a31d2c1b05c99f972'), 'firstname': 'Upendra', 'lastname': 'Prasad', 'Education': 'MCA', 'Score': 92, 'SubjectScore': {'Physics': 65, 'Chemistry': 67, 'Maths': 65}}
{'_id': ObjectId('6074795a31d2c1b05c99f973'), 'firstname': 'Uma', 'lastname': 'Parvati', 'Education': 'Phd', 'Score': 73, 'SubjectScore': {'Physics': 80, 'Chemistry': 75, 'Maths': 85}}
{'_id': ObjectId('60747a1231d2c1b05c99f974'), 'firstname': 'Rajendra', 'lastname': 'Prasad', 'Score': 85}
{'_id': ObjectId('60747a1231d2c1b05c99f975'), 'firstname': 'Sachin', 'lastname': 'Singh', 'Score': 78}
{'_id': ObjectId('60747a1231d2c1b05c99f976'), 'firstname': 'Upendra', 'lastname': 'Prasad', 'Score': 92}
{'_id': ObjectId('60747a1231d2c1b05c99f977'), 'firstname': 'Uma', 'lastname': 'Parvati', 'Score': 73}
{'_id': ObjectId('60747d1331d2c1b05c99f978'), 'firstname': 'Hari', 'lastname': 'Thapliyal'}

In [59]:
ds = empinfo.find( {"firstname":'Sachin'} )
for i in ds:
    print (i)

{'_id': ObjectId('6074795a31d2c1b05c99f971'), 'firstname': 'Sachin', 'lastname': 'Singh', 'Education': 'Phd', 'Score': 78, 'SubjectScore': {'Physics': 79, 'Chemistry': 77, 'Maths': 68}}
{'_id': ObjectId('60747a1231d2c1b05c99f975'), 'firstname': 'Sachin', 'lastname': 'Singh', 'Score': 78}

# lt, gt, in

In [60]:
#$lt, $gt, $in
ds = empinfo.find( {"Education": {'$in':['Phd']}} )
for i in ds:
    print (i)

{'_id': ObjectId('6074795a31d2c1b05c99f971'), 'firstname': 'Sachin', 'lastname': 'Singh', 'Education': 'Phd', 'Score': 78, 'SubjectScore': {'Physics': 79, 'Chemistry': 77, 'Maths': 68}}
{'_id': ObjectId('6074795a31d2c1b05c99f973'), 'firstname': 'Uma', 'lastname': 'Parvati', 'Education': 'Phd', 'Score': 73, 'SubjectScore': {'Physics': 80, 'Chemistry': 75, 'Maths': 85}}

In [61]:
#$lt, $gt, $in
ds = empinfo.find( {"Score": {'$gt':80}} )
for i in ds:
    print (i)

{'_id': ObjectId('6074795a31d2c1b05c99f970'), 'firstname': 'Rajendra', 'lastname': 'Prasad', 'Education': 'MBA', 'Score': 85, 'SubjectScore': {'Physics': 70, 'Chemistry': 68, 'Maths': 72}}
{'_id': ObjectId('6074795a31d2c1b05c99f972'), 'firstname': 'Upendra', 'lastname': 'Prasad', 'Education': 'MCA', 'Score': 92, 'SubjectScore': {'Physics': 65, 'Chemistry': 67, 'Maths': 65}}
{'_id': ObjectId('60747a1231d2c1b05c99f974'), 'firstname': 'Rajendra', 'lastname': 'Prasad', 'Score': 85}
{'_id': ObjectId('60747a1231d2c1b05c99f976'), 'firstname': 'Upendra', 'lastname': 'Prasad', 'Score': 92}

# Or / And

In [66]:
#$or, $and
ds = empinfo.find( {"$or": [{'Education':'MBA'}, {"Score": {'$gt':80}}] } )
for i in ds:
    print (i)

{'_id': ObjectId('6074795a31d2c1b05c99f970'), 'firstname': 'Rajendra', 'lastname': 'Prasad', 'Education': 'MBA', 'Score': 85, 'SubjectScore': {'Physics': 70, 'Chemistry': 68, 'Maths': 72}}
{'_id': ObjectId('6074795a31d2c1b05c99f972'), 'firstname': 'Upendra', 'lastname': 'Prasad', 'Education': 'MCA', 'Score': 92, 'SubjectScore': {'Physics': 65, 'Chemistry': 67, 'Maths': 65}}
{'_id': ObjectId('60747a1231d2c1b05c99f974'), 'firstname': 'Rajendra', 'lastname': 'Prasad', 'Score': 85}
{'_id': ObjectId('60747a1231d2c1b05c99f976'), 'firstname': 'Upendra', 'lastname': 'Prasad', 'Score': 92}

In [75]:
#$or, $and
ds = empinfo.find( {"SubjectScore": {'Physics':70, "Chemistry": 68,  "Maths": 72} } )
for i in ds:
    print (i)

{'_id': ObjectId('6074795a31d2c1b05c99f970'), 'firstname': 'Rajendra', 'lastname': 'Prasad', 'Education': 'MBA', 'Score': 85, 'SubjectScore': {'Physics': 70, 'Chemistry': 68, 'Maths': 72}}

# Update

In [81]:
empinfo.update_one( {'firstname': 'Rajendra'},{'$set':{'Physics':98}})

In [82]:
#$lt, $gt, $in
ds = empinfo.find( {"firstname": {'$in':['Rajendra']}} )
for i in ds:
    print (i)

{'_id': ObjectId('6074795a31d2c1b05c99f970'), 'firstname': 'Rajendra', 'lastname': 'Prasad', 'Education': 'MBA', 'Score': 85, 'SubjectScore': {'Physics': 70, 'Chemistry': 68, 'Maths': 72}, 'Physics': 98}
{'_id': ObjectId('60747a1231d2c1b05c99f974'), 'firstname': 'Rajendra', 'lastname': 'Prasad', 'Score': 85}

In [84]:
empinfo.update_many( {'Score': {'$lt':75}},{'$set':{'Score':75.1}})

In [85]:
ds = empinfo.find( )
for i in ds:
    print (i)

{'_id': ObjectId('6074795a31d2c1b05c99f970'), 'firstname': 'Rajendra', 'lastname': 'Prasad', 'Education': 'MBA', 'Score': 85, 'SubjectScore': {'Physics': 70, 'Chemistry': 68, 'Maths': 72}, 'Physics': 98}
{'_id': ObjectId('6074795a31d2c1b05c99f971'), 'firstname': 'Sachin', 'lastname': 'Singh', 'Education': 'Phd', 'Score': 78, 'SubjectScore': {'Physics': 79, 'Chemistry': 77, 'Maths': 68}}
{'_id': ObjectId('6074795a31d2c1b05c99f972'), 'firstname': 'Upendra', 'lastname': 'Prasad', 'Education': 'MCA', 'Score': 92, 'SubjectScore': {'Physics': 65, 'Chemistry': 67, 'Maths': 65}}
{'_id': ObjectId('6074795a31d2c1b05c99f973'), 'firstname': 'Uma', 'lastname': 'Parvati', 'Education': 'Phd', 'Score': 75.1, 'SubjectScore': {'Physics': 80, 'Chemistry': 75, 'Maths': 85}}
{'_id': ObjectId('60747a1231d2c1b05c99f974'), 'firstname': 'Rajendra', 'lastname': 'Prasad', 'Score': 85}
{'_id': ObjectId('60747a1231d2c1b05c99f975'), 'firstname': 'Sachin', 'lastname': 'Singh', 'Score': 78}
{'_id': ObjectId('60747a1231d2c1b05c99f976'), 'firstname': 'Upendra', 'lastname': 'Prasad', 'Score': 92}
{'_id': ObjectId('60747a1231d2c1b05c99f977'), 'firstname': 'Uma', 'lastname': 'Parvati', 'Score': 75.1}
{'_id': ObjectId('60747d1331d2c1b05c99f978'), 'firstname': 'Hari', 'lastname': 'Thapliyal'}

# Agreegate

### Count

In [100]:
agg = empinfo.aggregate(  [{'$group': {"_id":'$education', 'count':{'$sum':1}}}] )

In [101]:
for i in agg:
    print(i)

{'_id': None, 'count': 9}

### Sum

In [107]:
agg = empinfo.aggregate(  [{'$group': {"_id":'$Education', 'count':{'$sum':'$Score'}}}] )
for i in agg:
    print(i)

{'_id': 'MBA', 'count': 85}
{'_id': 'Phd', 'count': 153.1}
{'_id': 'MCA', 'count': 92}
{'_id': None, 'count': 330.1}

In [98]:
agg = empinfo.aggregate(  [{'$group': {"_id":'$firstname', 'count':{'$sum':'$Score'}}}] )

In [99]:
for i in agg:
    print(i)

{'_id': 'Upendra', 'count': 184}
{'_id': 'Hari', 'count': 0}
{'_id': 'Rajendra', 'count': 170}
{'_id': 'Sachin', 'count': 156}
{'_id': 'Uma', 'count': 150.2}

### Average

In [108]:
agg = empinfo.aggregate(  [{'$group': {"_id":'$firstname', 'count':{'$avg':'$Score'}}}] )

In [109]:
for i in agg:
    print(i)

{'_id': 'Upendra', 'count': 92.0}
{'_id': 'Hari', 'count': None}
{'_id': 'Rajendra', 'count': 85.0}
{'_id': 'Sachin', 'count': 78.0}
{'_id': 'Uma', 'count': 75.1}

### Max

In [110]:
agg = empinfo.aggregate(  [{'$group': {"_id":'$firstname', 'count':{'$max':'$Score'}}}] )

for i in agg:
    print(i)

{'_id': 'Upendra', 'count': 92}
{'_id': 'Hari', 'count': None}
{'_id': 'Rajendra', 'count': 85}
{'_id': 'Sachin', 'count': 78}
{'_id': 'Uma', 'count': 75.1}

# Datetime Operations

In [112]:
!pip install datetime

Collecting datetime
  Downloading DateTime-4.3-py2.py3-none-any.whl (60 kB)
Collecting zope.interface
  Downloading zope.interface-5.3.0-cp39-cp39-win_amd64.whl (206 kB)
Requirement already satisfied: pytz in d:\users\admin\anaconda3\envs\mongodb\lib\site-packages (from datetime) (2021.1)
Requirement already satisfied: setuptools in d:\users\admin\anaconda3\envs\mongodb\lib\site-packages (from zope.interface->datetime) (52.0.0.post20210125)
Installing collected packages: zope.interface, datetime
Successfully installed datetime-4.3 zope.interface-5.3.0

In [114]:
import datetime as dt

In [115]:
dt.datetime.utcnow()

datetime.datetime(2021, 4, 12, 17, 34, 12, 63242)

In [116]:
records = [{ "firstname": "Mujendra", "lastname": "Prasad", 'Education':"MBA", "Score":85, 
                                      'date': dt.datetime.utcnow() },
           
   { "firstname": "Satendra", "lastname": "Singh", 'Education':"Phd", "Score":78, 
                                      'date': dt.datetime.utcnow() },
           
   { "firstname": "Gajendra", "lastname": "Prasad", 'Education':"MCA", "Score":92, 
                                      'date': dt.datetime.utcnow() },
           
   { "firstname": "Umani", "lastname": "Parvati", 'Education':'Phd', "Score":73, 
                                      'date': dt.datetime.utcnow() }]

In [117]:
empinfo.insert_many(records)

In [118]:
ds = empinfo.find( )
for i in ds:
    print (i)

{'_id': ObjectId('6074795a31d2c1b05c99f970'), 'firstname': 'Rajendra', 'lastname': 'Prasad', 'Education': 'MBA', 'Score': 85, 'SubjectScore': {'Physics': 70, 'Chemistry': 68, 'Maths': 72}, 'Physics': 98}
{'_id': ObjectId('6074795a31d2c1b05c99f971'), 'firstname': 'Sachin', 'lastname': 'Singh', 'Education': 'Phd', 'Score': 78, 'SubjectScore': {'Physics': 79, 'Chemistry': 77, 'Maths': 68}}
{'_id': ObjectId('6074795a31d2c1b05c99f972'), 'firstname': 'Upendra', 'lastname': 'Prasad', 'Education': 'MCA', 'Score': 92, 'SubjectScore': {'Physics': 65, 'Chemistry': 67, 'Maths': 65}}
{'_id': ObjectId('6074795a31d2c1b05c99f973'), 'firstname': 'Uma', 'lastname': 'Parvati', 'Education': 'Phd', 'Score': 75.1, 'SubjectScore': {'Physics': 80, 'Chemistry': 75, 'Maths': 85}}
{'_id': ObjectId('60747a1231d2c1b05c99f974'), 'firstname': 'Rajendra', 'lastname': 'Prasad', 'Score': 85}
{'_id': ObjectId('60747a1231d2c1b05c99f975'), 'firstname': 'Sachin', 'lastname': 'Singh', 'Score': 78}
{'_id': ObjectId('60747a1231d2c1b05c99f976'), 'firstname': 'Upendra', 'lastname': 'Prasad', 'Score': 92}
{'_id': ObjectId('60747a1231d2c1b05c99f977'), 'firstname': 'Uma', 'lastname': 'Parvati', 'Score': 75.1}
{'_id': ObjectId('60747d1331d2c1b05c99f978'), 'firstname': 'Hari', 'lastname': 'Thapliyal'}
{'_id': ObjectId('6074854931d2c1b05c99f979'), 'firstname': 'Mujendra', 'lastname': 'Prasad', 'Education': 'MBA', 'Score': 85, 'date': datetime.datetime(2021, 4, 12, 17, 36, 53, 419000)}
{'_id': ObjectId('6074854931d2c1b05c99f97a'), 'firstname': 'Satendra', 'lastname': 'Singh', 'Education': 'Phd', 'Score': 78, 'date': datetime.datetime(2021, 4, 12, 17, 36, 53, 419000)}
{'_id': ObjectId('6074854931d2c1b05c99f97b'), 'firstname': 'Gajendra', 'lastname': 'Prasad', 'Education': 'MCA', 'Score': 92, 'date': datetime.datetime(2021, 4, 12, 17, 36, 53, 419000)}
{'_id': ObjectId('6074854931d2c1b05c99f97c'), 'firstname': 'Umani', 'lastname': 'Parvati', 'Education': 'Phd', 'Score': 73, 'date': datetime.datetime(2021, 4, 12, 17, 36, 53, 419000)}

In [ ]:
https://www.youtube.com/watch?v=bRGHkhBKcas&list=PLZoTAELRMXVN_8zzsevm1bm6G-plsiO1I&index=6

# Math Operations

agg= empinfo.aggregate([
    {
        '$group': {"_id": "$firstname", 
                   "PCM" : {"$multiply":{"$SubjectScore.Physics","$SubjectScore:Chemistry","$SubjectScore.Maths"}}}
    }
])

# MongoDB ATLAS In Cloud

In [ ]:
## https://www.youtube.com/watch?v=tX6xfwOtJn8&list=PLZoTAELRMXVN_8zzsevm1bm6G-plsiO1I&index=7

What is MongoDB Atlas?
With MongoDB Atlas, your self-healing clusters are made up of geographically distributed database instances 
to ensure no single point of failure. 
Want even better availability guarantees? Get multiregion fault tolerance by enabling cross-region replication.
MongoDB Atlas also includes powerful features to enhance reliability for your mission-critical production databases, 
such as continuous backups and point-in-time recovery.

### Setup MongoDB Cluster

In [ ]:
#If you don't have account on MongoDB Atlas
Search MongoDB

goto https://www.mongodb.com/
Click Start Free
Signup with Google Account (on MongoDB Atlas)

#If don't have any cluster on MongoDB Atlas
#If you are not logged in you need login first
Select Shared cluster (it is free)
Select AWS
Create cluster 

#Now you have your cluster on MongoDB Atlas. 
#You can keep you online, high availablity, distributed, reliable database here
#You application talk to MonboDB Compass
#MongoDB compass can be connected to this Cluster. But you need to provide cluster details to MongoDB compass.

### Connecting to MongoDB cluster from (Compass/Application/Shell)

In [ ]:
#If you already have account then you can use this to Signin
https://account.mongodb.com/account/login
    
#Connecting to MongoDB Atlas(Cloud Host of Mon) through MongoDB Compass(local machine)
#If you created free account than under Sandbox you will see "Connect" button
Click on Connect

#Setup Connection Security
IP Address (Default)
User: dbUser, Pwd: dbUserPassword
        
#Choose Connection Method
Connect Using MongoDB Compass // MongoDB Shell // Application
I am going with "Connect Using MongoDB Compass"
"I already have MongoDB compas"

It will display this kind of connection string
mongodb+srv://dbUser:<password>@cluster0.obzud.mongodb.net/test
        
Goto MongoDB Compass
Click connect -> connect to
copy above connection string here
Replace the password including <> with your pwd
Contratulations! you are connected to MonboDB Atlas cluster.

### Export & Import Using MongoDB

In [ ]:
From MongoDB Compass
Connect to Local MongoDB instance
You can export data from local MongoDB instance into a json file

Connect to above create new connection (on MongoDB Atlas)
Create a database and collection here. Say database: employee, collection: employeeinfo
Select database -> employeeinfo
Import above export json data here

Congratulation you have imported data into MongoDB Atlas

### Connecting to MongoDB Atlas Cluster Instance from Python

In [138]:
#!pip install pymongo[srv]

!python -m pip install pymongo[srv]

#After this Restart the kernel. Otherwise you will get error while connecting to Atlas.

Requirement already satisfied: pymongo[srv] in d:\users\admin\anaconda3\envs\mongodb\lib\site-packages (3.11.3)
Requirement already satisfied: dnspython<2.0.0,>=1.16.0 in d:\users\admin\anaconda3\envs\mongodb\lib\site-packages (from pymongo[srv]) (1.16.0)

In [1]:
import pymongo
client = pymongo.MongoClient(r"mongodb+srv://dbUser:dbUserPassword@cluster0.obzud.mongodb.net/test")

In [2]:
mydb = client['empl']
empinfo = mydb.emplinfo

In [3]:
records = [{ 'firstname': "Rajendra", 'lastname': "Prasad", "Score":85 },
           { 'firstname': "Sachin", 'lastname': "Singh", "Score":78 },
           { 'firstname': "Upendra", 'lastname': "Prasad", "Score":92 },
           { 'firstname': "Uma", 'lastname': "Parvati", "Score":73 }]

In [4]:
empinfo.insert_many(records)
empinfo.find_one()

{'_id': ObjectId('6074fd5693637c92c1c9c517'),
 'firstname': 'Rajendra',
 'lastname': 'Prasad',
 'Score': 85}

In [7]:
for i in empinfo.find():
    print (i)

{'_id': ObjectId('6074fd5693637c92c1c9c517'), 'firstname': 'Rajendra', 'lastname': 'Prasad', 'Score': 85}
{'_id': ObjectId('6074fd5693637c92c1c9c518'), 'firstname': 'Sachin', 'lastname': 'Singh', 'Score': 78}
{'_id': ObjectId('6074fd5693637c92c1c9c519'), 'firstname': 'Upendra', 'lastname': 'Prasad', 'Score': 92}
{'_id': ObjectId('6074fd5693637c92c1c9c51a'), 'firstname': 'Uma', 'lastname': 'Parvati', 'Score': 73}