In [52]:
for num in range(10):
    for i in range(num):
        print (num-i, end=" ") #print number
    # new line after each row to display pattern correctly
    print("\t")

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1
6 5 4 3 2 1
7 6 5 4 3 2 1
8 7 6 5 4 3 2 1
9 8 7 6 5 4 3 2 1

In [36]:
for num in range(10):
    for i in range(num):
        print (num, end=" ") #print number
    # new line after each row to display pattern correctly
    print("\t")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9

In [35]:
lastNumber = 6
for row in range(1, lastNumber):
    for column in range(1, row + 1):
        print(column, end=' ')
    print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [54]:
lastNumber = 10
for row in range(1, lastNumber):
    for column in range(1, row + 1):
        print(column, end=' ')
    print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9

In [55]:
print("Third Number Pattern")
lastNumber = 6
for row in range(1, lastNumber):
    for column in range(row, 0, -1):
        print(column, end=' ')
    print("")

Third Number Pattern
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [56]:
print("Fourth Number Pattern")
lastNumber = 9
for i in range(1, lastNumber):
    for j in range(-1+i, -1, -1):
        print(format(2**j, "4d"), end=' ')
    print("")

Fourth Number Pattern
   1
   2    1
   4    2    1
   8    4    2    1
  16    8    4    2    1
  32   16    8    4    2    1
  64   32   16    8    4    2    1
 128   64   32   16    8    4    2    1

In [57]:
print("Fifth Number Pattern")
lastNumber = 9
for i in range(1, lastNumber):
    for i in range(0, i, 1):
        print(format(2**i, "4d"), end=' ')
    for i in range(-1+i, -1, -1):
        print(format(2**i, "4d"), end=' ')
    print("")

Fifth Number Pattern
   1
   1    2    1
   1    2    4    2    1
   1    2    4    8    4    2    1
   1    2    4    8   16    8    4    2    1
   1    2    4    8   16   32   16    8    4    2    1
   1    2    4    8   16   32   64   32   16    8    4    2    1
   1    2    4    8   16   32   64  128   64   32   16    8    4    2    1

In [58]:
print("Sixth Number Pattern")
currentNumber = 1
stop = 2
rows = 3 # Rows you want in your pattern

for i in range(rows):
    for column in range(1, stop):
        print(currentNumber, end=' ')
        currentNumber += 1
    print("")
    stop += 2

Sixth Number Pattern
1
2 3 4
5 6 7 8 9

In [59]:
print("Number Pattern Example 7")
start = 1
stop = 2
currentNumber = stop
for row in range(2, 6):
    for col in range(start, stop):
        currentNumber -= 1
        print (currentNumber, end=' ')
    print("")
    start = stop
    stop +=row
    currentNumber = stop

Number Pattern Example 7
1
3 2
6 5 4
10 9 8 7

In [68]:
print("Print full Triangle pyramid using stars ")
size = 17
m = (2 * size) - 2
for i in range(0, size):
    for j in range(0, m):
        print(end="x")
    m = m - 1 # decrementing m after each loop
    for j in range(0, i + 1):
        # printing full Triangle pyramid using stars
        print("*", end=' ')
    print(" ")

Print full Triangle pyramid using stars
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx* *
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx* * *
xxxxxxxxxxxxxxxxxxxxxxxxxxxxx* * * *
xxxxxxxxxxxxxxxxxxxxxxxxxxxx* * * * *
xxxxxxxxxxxxxxxxxxxxxxxxxxx* * * * * *
xxxxxxxxxxxxxxxxxxxxxxxxxx* * * * * * *
xxxxxxxxxxxxxxxxxxxxxxxxx* * * * * * * *
xxxxxxxxxxxxxxxxxxxxxxxx* * * * * * * * *
xxxxxxxxxxxxxxxxxxxxxxx* * * * * * * * * *
xxxxxxxxxxxxxxxxxxxxxx* * * * * * * * * * *
xxxxxxxxxxxxxxxxxxxxx* * * * * * * * * * * *
xxxxxxxxxxxxxxxxxxxx* * * * * * * * * * * * *
xxxxxxxxxxxxxxxxxxx* * * * * * * * * * * * * *
xxxxxxxxxxxxxxxxxx* * * * * * * * * * * * * * *
xxxxxxxxxxxxxxxxx* * * * * * * * * * * * * * * *
xxxxxxxxxxxxxxxx* * * * * * * * * * * * * * * * *

In [69]:
print("Program to print half pyramid: ");

rows = input("Enter number of rows ")
rows = int (rows)

for i in range (0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')

    print("\r")

Program to print half pyramid:
Enter number of rows 10
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [70]:
print("Program to print half pyramid: ")

rows = input("Enter number of rows ")
rows = int (rows)

for i in range (rows,0,-1):
    for j in range(0, i + 1):
        print("*", end=' ')

    print("\r")

Program to print half pyramid:
Enter number of rows 6
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *

In [71]:
print("Program to print start pattern: \n");

rows = input("Enter max star to be display on single line")
rows = int (rows)
for i in range (0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

for i in range (rows, 0, -1):
    for j in range(0, i -1):
        print("*", end=' ')
    print("\r")

Program to print start pattern:

Enter max star to be display on single line6
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [72]:
print("Program to print half pyramid: ")

rows = input("Enter number of rows ")
rows = int (rows)

for i in range (rows,0,-1):
    for j in range(0, i + 1):
        print(j, end=' ')

    print("\r")

Program to print half pyramid:
Enter number of rows 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8
0 1 2 3 4 5 6 7
0 1 2 3 4 5 6
0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [73]:
print("Print Alphabets and Letters pattern in python ")
lastNumber = 6
asciiNumber = 65
for i in range(0, lastNumber):
    for j in range(0, i+1):
        character  = chr(asciiNumber)
        print(character, end=' ')
        asciiNumber+=1
    print(" ")

Print Alphabets and Letters pattern in python
A
B C
D E F
G H I J
K L M N O
P Q R S T U

In [74]:
a=20 # or  a=int(input()) if it  is a user input question
print("#"*a,end="\n") #its the first line of pattern
i=(a//2)-1
j=2
while(i!=0):
    while(j<=(a-2)):
        print("#"*i,end="")
        print("_"*j,end="")
        print("#"*i,end="\n")
        i=i-1
        j=j+2

####################
#########__#########
########____########
#######______#######
######________######
#####__________#####
####____________####
###______________###
##________________##
#__________________#

In [76]:
for i in range(0,4):
    for j in range(4-i):
        print("*", end="")
    print("\t")

****
***
**
*

In [78]:
for i in range(1, 5) :
       for j in range(i) :
             print ("*")

*
*
*
*
*
*
*
*
*
*

In [81]:
for i in range(0,6):
    for j in range(5,i,-1):
        print(j,'',end='')
    for l in range(i):
        print('        ',end='')
    for k in range(i+1,6):
        print(k,'',end='')
    print('\n')

5 4 3 2 1 1 2 3 4 5

5 4 3 2         2 3 4 5

5 4 3                 3 4 5

5 4                         4 5

5                                 5

In [82]:
print("Enter Limit: ")
n = int(input())
i = 1
while(i<=n):
    j = 1
    while(j<=i):
        print((i*2-1), end="")
        j  = j + 1
    i = i + 1
    print()

Enter Limit:
6
1
33
555
7777
99999
111111111111

In [83]:
n = 5
for j in range(1,n+1):
    print("* " * j)

*
* *
* * *
* * * *
* * * * *

In [88]:
print("Enter limit: ")
n = int(input())
i  = 1
while(i <= n):
    j = 1
    if (j == j):
        print(format(i, "2d"), end=' ')
    else:
        print(format(j, "2d"), end=' ')
    j = j + 1
    print()
    i = i + 1

Enter limit:
5
 1
 2
 3
 4
 5

In [89]:
for i in range(1,6):
    for j in range (1,6):
        if j<=i:
            print(i,end='')
    print()

1
22
333
4444
55555

In [90]:
n=int(input("enter a number:"))
for i in range (1,n+1):
     for j in range(1,i+1):
        print(i,end=" ")
     print( )

enter a number:6
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6

In [91]:
for i in range(1,n+1):
    for j in range(1):
        if i==1:
            print(i*"*",end="")
        else:
            print(2*"*",end="")
    print()

*
**
**
**
**
**

In [92]:
n=5
for i in range(n):
    for j in range(n):
        if j==i:
            print("1",end="")
        else:
            print("0",end="")
    print()

10000
01000
00100
00010
00001

In [93]:
n=5
for i in range(n):
    for j in range(i+1):
        print("*",end="")
    print()

*
**
***
****
*****

In [94]:
n=5
for i in range(1,n+1):
    for j in range(1):
        print((2*i-1)*"*",end="")
    print()

*
***
*****
*******
*********

In [96]:
for i in range(3):
    for j in range(3-i):
        print("*", end=" ")
    print("")

* * *
* *
*

In [99]:
def pypart(n): 
    for i in range(0, n): 
        for j in range(0, i+1): 
            if j % 2 == 1 :
                print("0 ",end="") 
            else :
                print("1 ",end="") 
                # ending line after each row 
            print("\r") 

#Driver Code 
n = 5
pypart(n)

1
1
0
1
0
1
1
0
1
0
1
0
1
0
1

In [101]:
print("Program to print start pattern: \n");
rows = input("Enter max star to be display on single line")
rows = int (rows)
for i in range (0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")
for i in range (rows, 0, -1):
    for j in range(0, i -1):
        print("*", end=' ')
    print("\r")

Program to print start pattern:

Enter max star to be display on single line5
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [102]:
n=int(input("enter a number of row"))
count=1
for row in range(1,n+1):
        for col in range(1,row+count):
            print(row,end="")
        count=count+1
        print()

enter a number of row5
1
222
33333
4444444
555555555

In [103]:
for i in range(4):
  current=4
  increment=0
  for j in range(4):
    print(current-increment,end="")
    if(increment<i):
      increment=increment+1
  print()

4444
4333
4322
4321

In [104]:
counter = 1
while counter < 4:
      print(counter * "*")
      counter +=1

*
**
***

In [105]:
for i in range (1,6):
    for t in range (i,5):
        print('\t', end="")
    for j in range (0,(2*i-1)):
        print(2*i-1-j, "\t", end="")
    print("")

				1
			3 	2 	1
		5 	4 	3 	2 	1
	7 	6 	5 	4 	3 	2 	1
9 	8 	7 	6 	5 	4 	3 	2 	1

In [106]:
n = int(input("enter a num"))
i=1
while i<=n :
    print("*"*i)
    i+=1
j=1
while j<=n :
    print("*"*(n-j))
    j+=1

enter a num5
*
**
***
****
*****
****
***
**
*

In [107]:
for i in range(1,6):
    print("####")

####
####
####
####
####

In [108]:
n=int(input("enter no."))
for i in range(0,n+1):
    for j in range(i,0,-1):
        print(j,end="")
    print(0,end="")
    for k in range(1,i+1):
        print(k,end="")
    print()

enter no.4
0
101
21012
3210123
432101234

In [110]:
last_num = 7
for i in range (1, last_num):
    for j in range(i, last_num, +1):
        print( j, end= " ")
    print()

1 2 3 4 5 6
2 3 4 5 6
3 4 5 6
4 5 6
5 6
6

In [111]:
n=int(input("enter no."))
for i in range(1,n+1,2):
    for j in range(i,n+1,2):
        print(j,end=" ")
    print()

enter no.5
1 3 5
3 5
5

In [113]:
for i in range(1,7):
    for j in range(i,7):
        print(j,end="")
    print()

123456
23456
3456
456
56
6

In [114]:
x = int(input("enter no. of rows"))    
n=1
for i in range(1,x*2,2):
    for j in range(0,i):
        print(n,"",end="")
        n=n+1
    print()

enter no. of rows5
1
2 3 4
5 6 7 8 9
10 11 12 13 14 15 16
17 18 19 20 21 22 23 24 25

In [115]:
s1 = 0
e1 = 7
s2 = 0
e2 = 0
for x in range(4):
    for y in range(s2,e2):
        print(" ",end="")
    for z in range(s1,e1):
        print("*",end="")
    print()
    s1 += 1
    e1 -= 1
    e2 += 1

s1 -= 1
e1 += 1
e2 -= 1

for x in range(3):

    s1 -= 1
    e1 += 1
    e2 -= 1

    for y in range(s2,e2):
        print(" ",end="")
    for z in range(s1,e1):
        print("*",end="")
    print()

*******
 *****
  ***
   *
  ***
 *****
*******

In [116]:
for i in range(10,0,-1):
	if i % 2 !=0:
		print(i * "*")
for i in range(2,10):
	if i % 2 !=0:
		print(i * "*")

*********
*******
*****
***
*
***
*****
*******
*********

In [117]:
# star Program 
def first(n):
		for i in range(0, n):		
			for j in range(i,n ):
				print('* ',end='') 

			print("\r")		

		for i in range(0, n):		
			for j in range(0, i+1):
				print('* ',end='') 

			print("\r")		


inp = input('Enter The Numbers Of Rows ')
inp = int(inp) 
first(inp)

Enter The Numbers Of Rows 6
* * * * * *
* * * * *
* * * *
* * *
* *
*
*
* *
* * *
* * * *
* * * * *
* * * * * *

In [118]:
n=int(input("enter a number : "))
for i in range(n,0,-1):
    print("*"*i)
for j in range(1,n+1):
    print("*"*j)

enter a number : 5
*****
****
***
**
*
*
**
***
****
*****

In [119]:
n=int(input("enter number : "))
for i in range(n,0,-1):
    print("*"*i)
for j in range(1,n+1):
    print("*"*j)

enter number : 5
*****
****
***
**
*
*
**
***
****
*****

In [120]:
n=int(input("enter a number : "))
for i in range(n,0,-2):
    print("*"*i)
for j in range(2,n+1,2):
    print("*"*j)

enter a number : 5
*****
***
*
**
****

In [121]:
num=int(input('Enter a number: '))

while num<=0:
    print('Error! Enter a positive number: ')
    num=int(input('Enter a number: '))
for row in range (num):
    for col in range (row):
        print('*', end='')
    print()
for i in range (num,0,-1):
    for j in range (i):
        print('*', end='')
    print()

Enter a number: 6

*
**
***
****
*****
******
*****
****
***
**
*

In [122]:
n = int(input("enter a num"))
for i in range(1,n):
    for j in range(1,i+1):
        print(j,end="")
    print()
for i in range(n,0,-1):
    for j in range(1,i+1):
        print(j,end="")
    print()

enter a num6
1
12
123
1234
12345
123456
12345
1234
123
12
1

In [123]:
n = int(input("enter a num"))
i=1
while i<=n :
    print("* "*i)
    i+=1
j=1
while j<=n :
    print("* "*(n-j))
    j+=1

enter a num6
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [124]:
n = int(input())
k = 0
for i in range(n,0,-1):
    k += 1 
    for j in range(i,0,-1):
        if j <= k:
            print('#',end = '')
    print(' ')

5
#
##
###
##
#

In [125]:
for i in range(1,6):
    for j in range(1,i+1):
        print("*",end=" ")
    print("")

*
* *
* * *
* * * *
* * * * *

In [126]:
for x in range(5,1,-1):
    for y in range(1,x):
        print("*", end =" ")
    print("")

* * * *
* * *
* *
*

In [127]:
for i in range(4):
    for j in range(4-i):
        print(chr(65+i),end='')
    for j in range(4-i):
        print("*",end='')
    for j in range(4-i):
        print(chr(65+i),end='')
    print('\n',end='')

AAAA****AAAA
BBB***BBB
CC**CC
D*D

In [128]:
counter = 4
char = [" ","D","C","B","A"]
while counter !=0:
	out1 = char[counter] * counter
	out2 = "*" * counter
	print(out1 + out2 + out1)
	counter -=1

AAAA****AAAA
BBB***BBB
CC**CC
D*D

In [129]:
n=5
for i in range(0,n):
    print(chr(65+i)*(n-i), end="")
    print("*"*(n-i), end="")
    print(chr(65+i)*(n-i), end="")
    print()

AAAAA*****AAAAA
BBBB****BBBB
CCC***CCC
DD**DD
E*E

In [130]:
star = '*'
counter = 1
out = 0
print("Pattern1")
while counter < 6:
	out = counter * star
	print(out)
	counter +=1
counter = 5
while counter !=0:
	out = counter * star
	print(out)
	counter -=1

Pattern1
*
**
***
****
*****
*****
****
***
**
*

In [131]:
n=int(input("enter the number"))
for i in range(1,n+1):
    s= '*'*i
    print(s)
for j in range(n+1,1,-1):
    y = '*' * j
    print(y)

enter the number6
*
**
***
****
*****
******
*******
******
*****
****
***
**

In [132]:
n = int(input("enter a num"))
i=1
while i<=n :
    print("*"*i)
    i+=1
j=1
while j<=n :
    print("*"*(n-j))
    j+=1

enter a num6
*
**
***
****
*****
******
*****
****
***
**
*

In [133]:
n=int(input("Enter the number:"))
z=0
for x in range(0,n):
    for y in range(0,x+1):
        print(z,end='')
    z=2**(x+1)
    print()

Enter the number:6
0
22
444
8888
1616161616
323232323232

In [134]:
e=int(input("Enter the number:"))
n=0
for i in range(1,e+1):
    for j in range(0,i):
        print(n,end=" ")
    n=2**i
    print()

Enter the number:6
0
2 2
4 4 4
8 8 8 8
16 16 16 16 16
32 32 32 32 32 32

In [135]:
num=int(input("enter no. of rows : "))
for i in range(num):
    val=i+1
    for j in range(i+1):
        print(format(val, "<4"), end="")
        val=val+((num-1)-j)
    print()

enter no. of rows : 6
1
2   7
3   8   12
4   9   13  16
5   10  14  17  19
6   11  15  18  20  21

In [138]:
for i in range(1,6):
    K=i
    M=4
    for j in range(i):
        print (k,end=' ')
        K=K+M
        M=M-1
    print ()

5
5 5
5 5 5
5 5 5 5
5 5 5 5 5

In [139]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end=' ')
    print( )

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [144]:
N, M = map(int,input("Enter input: ").split())
for i in range(1,N,2):
    print((i * ".|.").center(M, "-"))
print("WELCOME".center(M,"-"))
for i in range(N-2,-1,-2):
    print((i * ".|.").center(M, "-"))

Enter input: 10 20
--------.|.---------
-----.|..|..|.------
--.|..|..|..|..|.---
.|..|..|..|..|..|..|.
.|..|..|..|..|..|..|..|..|.
------WELCOME-------
.|..|..|..|..|..|..|..|.
-.|..|..|..|..|..|.-
----.|..|..|..|.----
-------.|..|.-------
--------------------

In [134]:
N=5
for I in range(1,n+1):
    k=1
    for j in range(1,n+1):
        if i>=j:
            print(k,end='*')
        else:
            print('*',end='' )
        #print()

1*

In [156]:
# star Program 
def first(n):
		

		for i in range(0, n):		
			for j in range(0, i+1):
				print(j+1,end='') 

			print("\r")		


inp = input('Enter The Numbers Of Rows ')
inp = int(inp) 
first(inp)

Enter The Numbers Of Rows 6
1
12
123
1234
12345
123456

In [157]:
lastNumber = 6
for i in range(1 , lastNumber):
    for j in range(1 , i+1):
        print(j , end="")
    print(" ")

1
12
123
1234
12345

In [158]:
print("Second Number Pattern ")
lastNumber = 6
for row in range(1, lastNumber):
    for column in range(1, row + 1):
        print(column, end=' ')
    print("")

Second Number Pattern
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [97]:
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end="")
    print()

1
12
123
1234
12345
123456
1234567
12345678
123456789
12345678910
1234567891011

In [160]:
def pattern(n):
    for i in range(1,n+1):
        for j in range(1,i+1):
            print(j ,end=' ')
        print()
n=int(input("How many row you want to enter?"))
pattern(n)

How many row you want to enter?5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [161]:
print("Second Number Pattern ")
lastNumber = 6
for row in range(1, lastNumber):
    for column in range(1, row + 1):
        print(column, end=' ')
    print("")

Second Number Pattern
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [162]:
row = int(input("Enter size"))
for row in range(1, row):
    for column in range(1, row + 1):
        print(column, end=' ')
    print("")

Enter size6
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [167]:
for i in range(1,6):
    for j in range(5,i,-1):
        print(" ",end=" ")
    for k in range(1,i+1):
        print(k,end=" ")
    print("")

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

In [15]:
n1=5
n=1
chr(64+n)

while n<=n1:
    
    print ('--' * (n1-n) + chr(64+n))
    n+=1

--------A
------B
----C
--D
E

In [68]:
n1=5

n=1
chr(64+n)

while n<=n1:
    n2=1
    line=[]
    space = ['-' * (n1-n)]
    
    char=[]
    while n2<=n:
        char.append( (chr(64+n2)) )
        n2+=1
    
    part2 = char[::-1][1:]
    
    line.append(space)
    line.append(char)
    line.append(part2)
    line.append(space)
    line = [i for sl in line for i in sl]
    #print (line)
    print ("".join(line))
    
    n+=1

----A----
---ABA---
--ABCBA--
-ABCDCBA-
ABCDEDCBA

In [70]:
n1=5

n=1
chr(64+n)

while n<=n1:
    n2=1
    line=[]
    space = ['*' * (n1-n)]
    
    char=[]
    while n2<=n:
        char.append( (chr(64+n2)) )
        n2+=1
    
    part2 = char[::-1][1:]
    
    line.append(space)
    line.append(char)
    line.append(part2)
    line.append(space)
    line = [i for sl in line for i in sl]
    #print (line)
    print ("".join(line))
    
    n+=1

****A****
***ABA***
**ABCBA**
*ABCDCBA*
ABCDEDCBA

In [74]:
ord("1")

49

In [153]:
n1=9

n=1

while n<=n1:
    n2=1
    line=[]
    space = ['-' * (n1-n)]
    
    char=[]
    while n2<=n:
        char.append( (chr(48+n2)) )
        n2+=1
    
    part2 = char[::-1][1:]
    
    line.append(space)
    line.append(char)
    line.append(part2)
    line.append(space)
    line = [i for sl in line for i in sl]
    #print (line)
    print ("".join(line))
    
    n+=1

--------1--------
-------121-------
------12321------
-----1234321-----
----123454321----
---12345654321---
--1234567654321--
-123456787654321-
12345678987654321

In [81]:
n1=10

n=1

while n<=n1:
    n2=1
    line=[]
    space = ['-' * (n1-n)]
    
    char=[]
    while n2<=n:
        char.append( (chr(47+n2)) )
        n2+=1
    
    part2 = char[::-1][1:]
    
    line.append(space)
    line.append(char)
    line.append(part2)
    line.append(space)
    line = [i for sl in line for i in sl]
    #print (line)
    print ("".join(line))
    
    n+=1

---------0---------
--------010--------
-------01210-------
------0123210------
-----012343210-----
----01234543210----
---0123456543210---
--012345676543210--
-01234567876543210-
0123456789876543210

In [60]:
l = [[1, 2, 3], [4, 5, 6], [7], [8, 9]]
l1 = [  j for sl in l for j in sl ]
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [82]:
flatten = lambda l: [item for sublist in l for item in sublist]
flatten(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [83]:
n1=10

n=1

while n<=n1:
    n2=1
    line=[]
    space = ['-' * (n1-n)]
    
    char=[]
    while n2<=n:
        char.append( (chr(47+n)) )
        n2+=1
    
    part2 = char[::-1][1:]
    
    line.append(space)
    line.append(char)
    line.append(part2)
    line.append(space)
    line = [i for sl in line for i in sl]
    #print (line)
    print ("".join(line))
    
    n+=1

---------0---------
--------111--------
-------22222-------
------3333333------
-----444444444-----
----55555555555----
---6666666666666---
--777777777777777--
-88888888888888888-
9999999999999999999

In [94]:
n1=10

n=1

while n<=n1:
    n2=1
    line=[]
    space = ['-' * (n1-n)]
    
    char=[]
    n3=n
    while n3>=n2:
        char.append( (chr(47+n3)) )
        n3-=1
    
    part2 = char[::-1][1:]
    
    line.append(space)
    line.append(char)
    line.append(part2)
    line.append(space)
    line = [i for sl in line for i in sl]
    #print (line)
    print ("".join(line))
    
    n+=1

---------0---------
--------101--------
-------21012-------
------3210123------
-----432101234-----
----54321012345----
---6543210123456---
--765432101234567--
-87654321012345678-
9876543210123456789

In [96]:
n1=10

n=1

while n<=n1:
    n2=1
    line=[]
    space = ['-' * (n1-n)]
    
    char=[]
    n3=n
    while n3>=n2:
        char.append( (chr(64+n3)) )
        n3-=1
    
    part2 = char[::-1][1:]
    
    line.append(space)
    line.append(char)
    line.append(part2)
    line.append(space)
    line = [i for sl in line for i in sl]
    #print (line)
    print ("".join(line))
    
    n+=1

---------A---------
--------BAB--------
-------CBABC-------
------DCBABCD------
-----EDCBABCDE-----
----FEDCBABCDEF----
---GFEDCBABCDEFG---
--HGFEDCBABCDEFGH--
-IHGFEDCBABCDEFGHI-
JIHGFEDCBABCDEFGHIJ

In [132]:
n=10
n1=1
while n1<=n:
    filler = '-'*(n-n1)
    n2=1
    char=[]
    while n2<=n1:
        char.append (chr(64+n2))
        n2+=1
    line=[]
    char = "".join([ch for ch in char])
    line.append(filler)
    line.append( char)

    line.append(char[::-1][1:])
    
    line.append(filler)
    line =[i for sl in line for i in sl]
    print ("".join(line))
    n1+=1
    
    
n=1
n1=n1-2
n3=1
while n1>=n:
    filler = '-'*(n3)
    n2=1
    char=[]
    while n2<=n1:
        char.append (chr(64+n2))
        n2+=1
    line=[]
    char = "".join([ch for ch in char])
    line.append(filler)
    line.append( char)

    line.append(char[::-1][1:])
    
    line.append(filler)
    line =[i for sl in line for i in sl]
    print ("".join(line))
    n1-=1
    n3+=1

---------A---------
--------ABA--------
-------ABCBA-------
------ABCDCBA------
-----ABCDEDCBA-----
----ABCDEFEDCBA----
---ABCDEFGFEDCBA---
--ABCDEFGHGFEDCBA--
-ABCDEFGHIHGFEDCBA-
ABCDEFGHIJIHGFEDCBA
-ABCDEFGHIHGFEDCBA-
--ABCDEFGHGFEDCBA--
---ABCDEFGFEDCBA---
----ABCDEFEDCBA----
-----ABCDEDCBA-----
------ABCDCBA------
-------ABCBA-------
--------ABA--------
---------A---------

In [151]:
n=6
star = '*'
counter = 1
out = 0

while counter <= n:
    out1 = counter * star
    out2 = ' '*(n-counter)*2 
    out3=out1+out2+out1
    print(out3)
    counter +=1
counter = n-1
n2=1
while counter !=0:
    out1 = counter * star
    out2 = ' '*(n2)*2
    out3=out1+out2+out1
    print(out3)
    counter -=1
    n2+=1

*          *
**        **
***      ***
****    ****
*****  *****
************
*****  *****
****    ****
***      ***
**        **
*          *