In [16]:
#df_categorical.apply(lambda x: x=="?", axis=0).sum()

# zip

In [60]:
name = ["Manjeet", "Nikhil", "Shambhavi"]
roll_no = [4, 1, 3]
marks = [40, 50, 60]

mapped = zip(name, roll_no, marks)

print(list(mapped))

[('Manjeet', 4, 40), ('Nikhil', 1, 50), ('Shambhavi', 3, 60)]

In [62]:
name = ["Manjeet", "Nikhil", "Shambhavi"]
marks = [40, 50, 60]

mapped = zip(name, marks)

print(dict(mapped))

{'Manjeet': 40, 'Nikhil': 50, 'Shambhavi': 60}

# map & zip

In [1]:
def myfunc(a, b):
  #print (a,b)
  return a + b

x = list(zip(*map(myfunc, ('apple', 'banana', 'cherry'), ('orange', 'lemon', 'pineapple'))))
x

[('a', 'b', 'c'),
 ('p', 'a', 'h'),
 ('p', 'n', 'e'),
 ('l', 'a', 'r'),
 ('e', 'n', 'r'),
 ('o', 'a', 'y'),
 ('r', 'l', 'p'),
 ('a', 'e', 'i'),
 ('n', 'm', 'n'),
 ('g', 'o', 'e'),
 ('e', 'n', 'a')]

In [17]:
def myfunc(a, b):
  #print (a,b)
  return a + b

x = list(zip(map(myfunc, ('apple', 'banana', 'cherry'), ('orange', 'lemon', 'pineapple'))))
x

[('appleorange',), ('bananalemon',), ('cherrypineapple',)]

In [18]:
def myfunc(a, b):
  #print (a,b)
  return a + b

x = list(zip(*map( ('apple', 'banana', 'cherry'), ('orange', 'lemon', 'pineapple'))))
x

TypeError: 'tuple' object is not callable

In [20]:
def myfunc(a, b):
  #print (a,b)
  return a + b

x = list(zip(map( ['apple', 'banana', 'cherry'], ['orange', 'lemon', 'pineapple'])))
x

TypeError: 'list' object is not callable

In [21]:
def myfunc(a, b):
  #print (a,b)
  return a + b

x = (zip(map( ['apple', 'banana', 'cherry'], ['orange', 'lemon', 'pineapple'])))
x

In [2]:
A='abcd'
B='pqrs'
map(A,B)

In [3]:
nums = [1, 2, 3, 4, 5]  
def sq(n1,n2):    
    return (n1*n2)
square = list(zip(map(sq, nums,nums)))
print (square)

[(1,), (4,), (9,), (16,), (25,)]

In [4]:
nums = [1, 2, 3, 4, 5]  
def sq(n1,n2):    
    return str(n1*n2)
square = list(zip(map(sq, nums,nums)))
print (square)

[('1',), ('4',), ('9',), ('16',), ('25',)]

In [11]:
nums = [1, 2, 3, 4, 5]  
def sq(n):    
    return (n*n )
square = list(map(sq, nums))
print (square)

[1, 4, 9, 16, 25]

In [12]:
A='abcd'
B='pqrs'
print(map(A,B)) #a map between to pairs
print(zip(map(A,B))) #map is zipped

#print( list(zip( map(A,B))) )  #ERROR 'str' object is not callable
#print( list(zip(*map(A,B))) ) #ERROR 'str' object is not callable

#print (*map(A,B)) => #ERROR 'str' object is not callable
print (*map(myfunc,A,B)) #ap bq cr ds
print (map(myfunc,A,B))
print (zip(*map(myfunc,A,B)))

<map object at 0x000001C59325A3D0>
<zip object at 0x000001C5931AB340>
ap bq cr ds
<map object at 0x000001C59325A850>
<zip object at 0x000001C593254F40>

In [13]:
# list( zip(map(myfunc,['1','2','3'],['a','b','c'])) )

list( zip(map(myfunc,['x11','y21','z31','pqrs'],['a','b','c','d'])) )

[('x11a',), ('y21b',), ('z31c',), ('pqrsd',)]

In [14]:
list(('apple'+ 'orange'))

['a', 'p', 'p', 'l', 'e', 'o', 'r', 'a', 'n', 'g', 'e']

In [50]:
import pandas as pd
df= dict(pd.DataFrame(names))
list( df['last'] )

['sharma', 'verma', 'rai']

In [54]:
names = [
    {'first': 'lokesh', 'last': 'sharma'},
    {'first': 'Astha', 'last': 'verma'},
    {'first': 'jiu', 'last': 'rai'}
 ]
first_names = list(map(lambda x: (df['last']), df))

first_names

[0    sharma
 1     verma
 2       rai
 Name: last, dtype: object,
 0    sharma
 1     verma
 2       rai
 Name: last, dtype: object]

# Filter

In [55]:
seq = [0, 1, 2, 3, 4, 5]

# result contains odd numbers of the list
result = filter(lambda x: x % 2, seq)
print(list(result))

# result contains even numbers of the list
result = filter(lambda x: x % 2 == 0, seq)

[1, 3, 5]

In [56]:
users = [
    {"username": 'samuel', "tweets": ["i love cake", "i am good"]},
    {"username": 'andy', "tweets": []},
    {"username": 'kumal', "tweets": ["India", "Python"]},
    {"username": 'sam', "tweets": []},
    {"username": 'lokesh', "tweets": ["i am good"]},
]

In [57]:
inactive_users = list(filter(lambda a:not a['tweets'], users))
print(inactive_users)

[{'username': 'andy', 'tweets': []}, {'username': 'sam', 'tweets': []}]

In [58]:
inactive_users=list(map(lambda x:x["username"].upper(),
                    filter(lambda a:not a['tweets'], users)))
print(inactive_users)

['ANDY', 'SAM']

In [59]:
names=['lokesh','lassie','bob','to']
new=list(map(lambda name:f"your name is {name}",
        filter(lambda x:len(x)>4,names)))
print(new)

['your name is lokesh', 'your name is lassie']

# Reduce

In [ ]:
from functools import reduce

seq=[2,3,4,5,6]
multiply=reduce(lambda a,b:a*b,seq)
print(multiply)