In [ ]:
#Longest Word in the string

s = 'I love Python'
import numpy as np

# Write your code here
words =  np.array( s.split(" ") )
word_len = np.array( [len(word) for word in words])

x= word_len==word_len.max()

words[x][0]

In [9]:
scores  = (9, 9, 9)
scores = list(scores)
scores.sort()
scores

a = scores[0]
b = scores[1]
c = scores[2]

if a+b<=c:
    name="Invalid"
    print (name)
else:
    if a**2 + b**2 == c**2:
        name ="Right"
    elif a**2 + b**2 > c**2:
        name ="Acute"
    else:
        name="Obtuse"
    print (name)
    

    if a==b and b==c:
        name = "Equilateral" 
    elif a!=b and b!=c:
        name ="Scalene"
    elif a==b and b!=c:
        name ="Isosceles"
    print (name)

Acute
Equilateral

In [1]:
a=2
b=3
city="Bangalore"

In [2]:
print ("{a} and {b} in {city}")

{a} and {b} in {city}

In [3]:
#Variable name within string
print (f"{a} and {b} in {city}")

2 and 3 in Bangalore

In [5]:
#Only placeholders within string. Variable name in format
print ("{} and {} in {}".format(a,b,city))

2 and 3 in Bangalore

In [15]:
#Using % placeholder to print string. Make sure to use proper placeholder.
#s - String, d- digit, f-float

print ( '%s %d %f' % (city, a , b) )

Bangalore 2 3.000000

In [30]:
class Person:
    def __init__(self):
        self.Name = "Hari"
        self.City ="Bangalore"
        self.Age = 49

def sqrt(n):
    return 5**2
    
p = Person()

#Pay attention how msg being created from an object and function. 
#How f is being used without separator like comma. 
#\n is being used for line break
#f being used without print function
#How f being interpreted by print function
msg = (f"Name is: {p.Name}\n"
       f"City is: {p.City}\n"
       f"Age is: {p.Age}\n"
       f"sqrt is: {sqrt(5)}"
       )

In [31]:
print (msg)

Name is: Hari
City is: Bangalore
Age is: 49
sqrt is: 25

'Name is: Hari\nCity is: Bangalore\nAge is: 49\nsqrt is: 25'

In [39]:
#This is one line comment
'''aaa
a
a
a

'''

long_string ="""
This is muliple line string using escape character. Escape is introduced as when line is broke in this text
There is no problem 
Nothing will break
Keep writing withing this trippled quoted block
"""

print (long_string)

This is muliple line string using escape character. Escape is introduced as when line is broke in this text
There is no problem
Nothing will break
Keep writing withing this trippled quoted block