In [ ]:
import pandas as pd

from io import StringIO

data = "col1,col2,col3\na,b,1\na,b,2\nc,d,3\ne,f,5"

pd.read_csv(StringIO(data))

  col1 col2  col3
0    a    b     1
1    a    b     2
2    c    d     3
3    e    f     5

In [ ]:
pd.read_csv(StringIO(data)).sample(2)

  col1 col2  col3
2    c    d     3
0    a    b     1

In [ ]:
pd.read_csv(StringIO(data), usecols=lambda x: x.upper() in ["COL1", "COL3"])

  col1  col3
0    a     1
1    a     2
2    c     3

In [ ]:
pd.read_csv(StringIO(data), skiprows=lambda x: x % 2 != 0)

  col1 col2  col3
0    a    b     2
1    e    f     5

In [ ]:
pd.read_csv(StringIO(data), skiprows=lambda x: x % 2 != 0, usecols=lambda x: x.upper() in ["COL1", "COL3"])

  col1  col3
0    a     2
1    e     5